<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 3 JavaScript</title>
    <script src="https://unpkg.com/vue@next"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="p-3">
    
    <div id="app">

        <span>Message:</span>
        <input v-model="inputMessage" placeholder="Enter text.."/>

        <span>Times:</span>
        <input v-model="inputNumber" placeholder="0" />

        <button @click="duplicate(inputMessage, inputNumber)">=</button>

        <p v-show="error != undefined">{{ error }}</p>
        <p v-show="message != undefined">{{ message }}</p>

    </div>

</body>

<script src="./main.js"></script>

<script>
    const mountedApp = app.mount("#app");
</script>

</html>